<header class="w-full shadow-md fixed bg-white z-10">
    <div class="max-w-screen-2xl m-auto flex justify-between px-5 gap-5 container">
      <!-- BTN MOBILE -->
      <div class="hidden mobile">
        <button class="p-1 border border-borderMobile rounded-md btn" (click)="activeMobile()">
          <img src="assets/menu.svg" alt="menu hamburguer" width="27" height="22">
        </button>
        @if (open) {
            <div class="absolute bg-white border border-borderMobile top-20 rounded-md z-50">
            <nav>
              <ul class="flex flex-col gap-3 text-colorDefault font-semibold py-2 pl-3 pr-11">
                <li class="duration-300 hover:text-black text-sm">
                  <a href="#home">Início</a>
                </li>
                <li class="duration-300 hover:text-black text-sm">
                  <a href="#descontos">Descontos</a>
                </li>
                <li class="duration-300 hover:text-black text-sm">
                  <a href="#planos">Planos de saúde</a>
                </li>
                <li class="duration-300 hover:text-black text-sm">
                  <a href="#plano-empresarial">Plano empresarial</a>
                </li>
                <li class="duration-300 hover:text-black text-sm">
                  <a href="#vantagens">Vantagens</a>
                </li>
              </ul>
            </nav>
          </div>
          }
      </div>
      <!-- LOGOS E NAVBAR-->
      <div class="flex items-center gap-1 relative">
        <!-- lOGOS -->
        <div class="flex items-center logos">
          <img [ngSrc]="logo" alt="logo central" width="120" height="78" class="max-sm:w-20">
          <img [ngSrc]="trilogo" alt="trilogo planos" width="300" height="51" class="max-sm:w-44">
        </div>
        <!-- NAVBAR -->
        <nav class="navbar">
          <ul class="flex gap-1 text-colorDefault font-semibold">
            <li class="duration-300 hover:text-black p-1"><a href="#home">Início</a></li>
            <li class="duration-300 hover:text-black p-1"><a href="#descontos">Descontos</a></li>
            <li class="duration-300 hover:text-black p-1"><a href="#planos">Planos de saúde</a></li>
            <li class="duration-300 hover:text-black p-1"><a href="#plano-empresarial">Plano empresarial</a></li>
            <li class="duration-300 hover:text-black p-1"><a href="#vantagens">Vantagens</a></li>
          </ul>
        </nav>
      </div>
      <!-- BUTTON -->
      <div class="flex items-center button">
        <a href="#">
          <button class="border-2 border-colorDefault py-1 px-5 rounded-3xl text-colorDefault font-semibold duration-300 hover:bg-backgroundBtn hover:border-backgroundBtn hover:text-white">
            Simular plano
          </button>
        </a>
      </div>
    </div>
</header>




