<header>
  <div class="container">
    <div class="container__itens">
      <div class="logos">
        <img src="assets/logo.jpeg" alt="" width="150">
        <img src="assets/trilogo.png" alt="" width="300">
      </div>
      <nav>
        <ul>
          <li><a href="#">Início</a></li>
          <li><a href="#">Descontos</a></li>
          <li><a href="#">Planos de saúde</a></li>
          <li><a href="#">Plano empresarial</a></li>
          <li><a href="#">Vantagens</a></li>
        </ul>
      </nav>
    </div>
    <div>
      <button>Simular plano</button>
    </div>
  </div>
</header>
